#guessBtn{
	width: 4.5cm;
	background-color: orange;
	margin-left: 2%;
}

#block{
	margin-left: 40%;
	margin-right: 40%;
	background-color: lightgray;
	border-style: hidden;
}

h1, form, table{
	margin-left: 2%;
}
